<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org"
      th:replace="~{fragments/layout :: template (~{:: #home-page-section})}">

    <section id="home-page-section">
        <div class="container">
            <div>
                <img th:src="@{/img/hero-home.jpg}" alt="pizza" id="home-picture">
            </div>
            <div id="text-div">
                <h2 id="text-header">Pizza neapolitańska</h2>
                <p id="home-page-text">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Dignissimos hic, molestias odit perferendis perspiciatis placeat praesentium totam! Ab accusantium asperiores at consectetur doloribus ea eveniet fuga illo illum impedit itaque magnam minima nam, nesciunt nisi nostrum officiis omnis perspiciatis sunt tempore temporibus ut voluptatum! Consequuntur eaque eligendi labore nesciunt ut?</p>
            </div>
            <div style="display: flex; flex-direction: row; justify-content: center">
                <a class="btn" href="">Sprawdź nasze menu</a>
            </div>
        </div>
    </section>

</html>
