<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org"
      th:replace="~{fragments/layout :: template (~{:: #opinions})}">
<section id="opinions">
  <div class="container">
    <h1>Opinie</h1>

    <table>
      <tr>
        <td>
          <h3>Anna Kowalska</h3>
          <p class="text">Pizzeria z najlepszymi pizzami, jakie jadłam! Ciasto cienkie a składniki bardzo świeze i aromatyczne. Polecam każdemu!</p>
        </td>
      </tr>
      <tr>
        <td>
          <h3>Karolina Wisniewska</h3>
          <p class="text">Pizza z tej pizzerii to po prostu mistrzostwo! Duży wybór smaków, szybka obsługa i bardzo przystępne ceny. Polecam wszytskim którzy lubia dobrze zjeść!</p>
        </td>
      </tr>
    </table>

    <h1>Dodaj nową opinię</h1>

    <form method="post">
      <div>
        <input type="text" placeholder="Nazwa" class="input">
      </div>
      <div>
        <input type="text" placeholder="Twoja opinia..." class="input">
      </div>
      <div>
        <button class="btn">Dodaj</button>
      </div>
    </form>
  </div>
</section>


</html>
