<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org"
      th:replace="~{fragments/layout :: template (~{:: #pizza-content})}">
<section id="pizza-content">
  <div class="container">
    <h1>Pizza</h1>
    <form th:object="${pizza}" method="post">
      <div class="form-row">
        <input placeholder="Nazwa pizzy" th:field="*{name}" type="text" class="input"/>
      </div>
      <div class="form-row">
        <input placeholder="Cena" th:field="*{price}" type="number" step="0.01" class="input"/>
      </div>
      <div class="form-row">
        <textarea class="textbox" placeholder="Składniki" th:field="*{ingredients}"></textarea>
      </div>
      <div class="form-row">
        <button class="btn">Dodaj</button>
      </div>
    </form>
  </div>
</section>
</html>
